# Neural Code Final Portfolio: Analysis of Neural Population Geometries

**Key terms:**
* **Context:** One of two distinct task structures. The correct stimulus-response pair is *inverted* between contexts.
* **Block:** Groups of sequential trials within a session. Each block corresponds to a switch in latent context, and each session has 10-16 trial blocks of 15-32 trials each.
* **Inference trials:** trials where a given stimulus is encountered for the first time after a context switch.

ðŸ”º **Indicates unanswered gap between reimplementation and original paper.**

## Preliminaries

In [22]:
import re
import json
from joblib import Parallel, delayed
import time
import numpy as np
import pandas as pd
import itertools
import concurrent.futures

import matplotlib.pyplot as plt
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D

from scipy.stats import binom

from sklearn.linear_model import LogisticRegression
from sklearn.utils import shuffle
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import accuracy_score
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import StandardScaler
from sklearn.manifold import MDS
from sklearn.metrics import pairwise_distances

import helper_functions as F

## Load and inspect datasets

### Behavioral and task data

Analysis were performed on 36 sessions with high accuracy on **non-inference** trials (e.g., suggests that patients understood the task). The following datasets should therefore contain 36 entries each:

* `beh_data` contains behavioral data organized by recording session, including `events`, which tracks the timing of specific events (erecording start, stimulus onset, response 1, response 2, recording end) for each session. 
* `task_data` contains information about trial-level task variables inlcuding `context` (1 or 2), `stim_sequence` (identity of the stimulus on a current trial, corresponding to specific [response, reward, context] combinations; *these are not aligned between sessions*), and `response_sequence` (the required response for the current trial).

The most important event codes `36` (response 1) and `31` (response 2), which are used in the `get_session_accuracy` method to see if the patient's true response matches the required `response_sequence` for that task.

In [2]:
with open("beh.json", "r") as f:
    all_beh_data = json.load(f)["beh"]

# Behavioral data
beh_data = pd.DataFrame(all_beh_data["data"])
beh_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sessionID  36 non-null     object
 1   events     36 non-null     object
dtypes: object(2)
memory usage: 708.0+ bytes

In [3]:
# Check top rows
beh_data.head()

  sessionID                                             events
0   P61CS_1  [[1551091404901085.0, 55], [1551091406087648.0...
1   P62CS_1  [[1555760333243868.0, 55], [1555760334376711.0...
2   P62CS_2  [[1555761804593152.0, 55], [1555761805744683.0...
3   P62CS_3  [[1556200582588169.0, 55], [1556200583950356.0...
4   P62CS_4  [[1556641173506903.0, 55], [1556641174833121.0...

In [4]:
# Check number of events in each session
for i in range(len(beh_data)):
    print(f"Session {beh_data["sessionID"][i]}: {len(beh_data["events"][i])} events")

Session P61CS_1: 642 events
Session P62CS_1: 482 events
Session P62CS_2: 482 events
Session P62CS_3: 482 events
Session P62CS_4: 482 events
Session P63CS_1: 482 events
Session P63CS_2: 482 events
Session P63CS_3: 482 events
Session P65CS_1: 482 events
Session P65CS_2: 482 events
Session P65CS_3: 562 events
Session P67CS_1: 482 events
Session P67CS_2: 482 events
Session P67CS_3: 482 events
Session P67CS_4: 522 events
Session P70CS_1: 482 events
Session P71CS_1: 362 events
Session P71CS_2: 482 events
Session P73CS_1: 482 events
Session P73CS_2: 482 events
Session P73CS_3: 402 events
Session P74CS_1: 482 events
Session P74CS_2: 482 events
Session P76CS_1: 482 events
Session P78CS_1: 482 events
Session P78CS_2: 482 events
Session P79CS_1: 482 events
Session P79CS_2: 482 events
Session P79CS_3: 482 events
Session TWH162_1: 482 events
Session TWH163_1: 482 events
Session TWH163_2: 482 events
Session TWH165_1: 482 events
Session TWH165_2: 482 events
Session TWH172_1: 482 events
Session TWH172_2: 482 events

In [5]:
# Task data
task_data = pd.DataFrame(all_beh_data["task_info"])
task_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   context            36 non-null     object
 1   stim_sequence      36 non-null     object
 2   reward_sequence    36 non-null     object
 3   response_sequence  36 non-null     object
 4   is_novel_variant   2 non-null      object
 5   novel_stim_dir     2 non-null      object
 6   novel_block_image  2 non-null      object
 7   remapping          2 non-null      object
 8   stim_to_replace    2 non-null      object
 9   replace_name       2 non-null      object
dtypes: object(10)
memory usage: 2.9+ KB

In [6]:
# Check top rows
task_data.head()

,context,stim_sequence,reward_sequence,response_sequence,is_novel_variant,novel_stim_dir,novel_block_image,remapping,stim_to_replace,replace_name
0,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","[2, 4, 1, 2, 4, 4, 4, 3, 1, 4, 4, 3, 4, 3, 2, ...","[25, 5, 5, 25, 5, 5, 5, 25, 5, 5, 5, 25, 5, 25...","[0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, ...",NaN,NaN,NaN,NaN,NaN,NaN
1,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","[1, 2, 4, 4, 3, 2, 3, 1, 4, 4, 4, 2, 3, 1, 2, ...","[5, 25, 5, 5, 25, 25, 25, 5, 5, 5, 5, 25, 25, ...","[1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, ...",NaN,NaN,NaN,NaN,NaN,NaN
2,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","[1, 3, 3, 4, 2, 2, 2, 4, 4, 1, 1, 2, 1, 3, 2, ...","[5, 25, 25, 5, 25, 25, 25, 5, 5, 5, 5, 25, 5, ...","[1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, ...",NaN,NaN,NaN,NaN,NaN,NaN
3,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","[2, 2, 3, 3, 1, 2, 2, 3, 2, 4, 4, 2, 2, 3, 4, ...","[25, 25, 25, 25, 5, 25, 25, 25, 25, 5, 5, 25, ...","[0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, ...",NaN,NaN,NaN,NaN,NaN,NaN
4,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, ...","[2, 1, 2, 3, 2, 2, 4, 3, 3, 4, 2, 4, 4, 2, 3, ...","[25, 5, 25, 25, 25, 25, 5, 25, 25, 5, 25, 5, 5...","[0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, ...",NaN,NaN,NaN,NaN,NaN,NaN

### Single-neuron recordings

In [7]:
# Neural data
neu_data = pd.read_json("neu.json")
neu_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2694 entries, 0 to 2693
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   array      2694 non-null   object
 1   cellinfo   2694 non-null   int64
 2   sessionID  2694 non-null   object
dtypes: int64(1), object(2)
memory usage: 63.3+ KB

In [8]:
# Check top rows
neu_data.head()

                                               array  cellinfo sessionID
0  [{'block_nr': 1, 'iscorrect': True, 'stim_id':...         2   P61CS_1
1  [{'block_nr': 1, 'iscorrect': True, 'stim_id':...         2   P61CS_1
2  [{'block_nr': 1, 'iscorrect': True, 'stim_id':...         2   P61CS_1
3  [{'block_nr': 1, 'iscorrect': True, 'stim_id':...         4   P61CS_1
4  [{'block_nr': 1, 'iscorrect': True, 'stim_id':...         4   P61CS_1

ðŸ”º **Neuron counts in preSMA do not match paper (p. 842), although total counts do. Potential typo?**

In [9]:
# Check brain area counts against paper
brain_areas = F.define_cell_area_groups(neu_data)
true_area_counts = {
    "HPC" : 494,
    "vmPFC" : 463,
    "AMY" : 889,
    "dACC" : 310,
    "preSMA" : 269,
    "VTC" : 269
}
for key, value in brain_areas.items():
    print(f"Area name: {key}. Data count: {len(value)}, True count: {true_area_counts[key]}.")

Area name: HPC. Data count: 494, True count: 494.
Area name: vmPFC. Data count: 889, True count: 463.
Area name: AMY. Data count: 269, True count: 889.
Area name: dACC. Data count: 310, True count: 310.
Area name: preSMA. Data count: 463, True count: 269.
Area name: VTC. Data count: 269, True count: 269.

In [18]:
# Example of cell-level data
example_cell_data = F.get_cell_array(neu_data, cell_idx=42)
example_cell_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   block_nr   320 non-null    int64
 1   iscorrect  320 non-null    bool
 2   stim_id    320 non-null    int64
 3   context    320 non-null    int64
 4   reward     320 non-null    int64
 5   response   320 non-null    int64
 6   trial_nr   320 non-null    int64
 7   fr_stim    320 non-null    int64
 8   fr_base    320 non-null    float64
dtypes: bool(1), float64(1), int64(7)
memory usage: 20.4 KB

In [19]:
example_cell_data.head()

,block_nr,iscorrect,stim_id,context,reward,response,trial_nr,fr_stim,fr_base
0,1,True,2,2,25,0,1,0,0.000000
1,1,True,4,2,5,0,2,2,0.000000
2,1,True,1,2,5,1,3,2,0.909091
3,1,True,2,2,25,0,4,0,1.818182
4,1,True,4,2,5,0,5,1,0.000000

ðŸ”º **Paper states that each recording session consists of 280-320 trials grouped into 10-16 blocks different sizes; data shows trial counts as low as 180.**

In [11]:
# Check unique trial counts
neu_data["n_trials"] = neu_data["array"].apply(lambda x : len(x))
neu_data["n_trials"].value_counts()

n_trials
240    2309
260     119
200     105
180      65
320      57
280      39
Name: count, dtype: int64

## Balanced dichotomies of task conditions

Task conditions are defined by the following `[stimulus identity, response, outcome, context]` sets:
1. `[C, left, 5, 1]`
2. `[D, right, 5, 1]`
3. `[A, left, 25, 1]`
4. `[B, right, 25, 1]`
5. `[D, left, 5, 2]`
6. `[A, right, 5, 2]`
7. `[B, left, 25, 2]`
8. `[C, right, 25, 2]`

Note that Python uses 0 indexing.

The set of **balanced dichotomies** is defined by all possible ways that the 8 task conditions can be split into pairs of 4 conditions each (`(8 choose 4)/2 = 35` groups).

In [17]:
# Left is 0, right is 1
dichotomy_labels = [
    [0, 5, 1],
    [1, 5, 1],
    [0, 25, 1],
    [1, 25, 1],
    [0, 5, 2],
    [1, 5, 2],
    [0, 25, 2],
    [1, 5, 2]
]

In [12]:
interpretations, pos_set, neg_set = F.define_dichotomies()

In [13]:
# Check that there are 35 dichotomies
print(len(pos_set), len(neg_set))

35 35

In [14]:
# Check dichotomies with straightforward interpretations
for key, value in interpretations.items():
    print(f"Interpretation: {value}")
    print(f"Class 1: {pos_set[key]}, Class 2: {neg_set[key]}")

Interpretation: context
Class 1: [0 1 2 3], Class 2: [4 5 6 7]
Interpretation: outcome
Class 1: [0 1 4 5], Class 2: [2 3 6 7]
Interpretation: AB vs CD
Class 1: [0 1 4 7], Class 2: [2 3 5 6]
Interpretation: response
Class 1: [0 2 4 6], Class 2: [1 3 5 7]
Interpretation: AC vs BD
Class 1: [0 2 5 7], Class 2: [1 3 4 6]
Interpretation: parity
Class 1: [0 3 5 6], Class 2: [1 2 4 7]
Interpretation: AD vs BC
Class 1: [0 4 5 6], Class 2: [1 2 3 7]

Note: `AB vs CD` is also called the **stimulus pair**, the grouping of stimuli where the response is the same in either context. **Parity** is the grouping with the "maximal nonlinear interaction between task variables."

## Data pre-processing

### Constructing a pseudo-population

Neuron recordings from all patients were combined to form a "pseudopopulation." Neurons included in analyses have at least `K = 15` trials from each unique task condition. The pseudopopulation is constructed by randomly sampling `K` trials for each condition for each neuron independently.

In [21]:
# Make groups with all possible combinations for variables of interet
# In practice, the relevant variables are response, reward, and context
variable_groups = F.make_variable_groups(
    example_cell_data,
    var_names=["context", "reward", "response"]
)
variable_groups.head()

,context_1_reward_0_response_0,context_1_reward_0_response_1,context_1_reward_5_response_0,context_1_reward_5_response_1,context_1_reward_25_response_0,context_1_reward_25_response_1,context_2_reward_0_response_0,context_2_reward_0_response_1,context_2_reward_5_response_0,context_2_reward_5_response_1,context_2_reward_25_response_0,context_2_reward_25_response_1
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,True,False,False,False

In [31]:
# Check that column order matches task condition definitions
correct_cols = [col for col in variable_groups.columns if "reward_0" not in col]
for i, col in enumerate(correct_cols):
    variable_nums = re.findall(r'\d+', col)
    variable_nums = [int(n) for n in variable_nums]
    variable_nums.reverse()
    print(f"Column index: {i}, Name: {col}")
    print(f"Match: {variable_nums == dichotomy_labels[i]}")

Column index: 0, Name: context_1_reward_5_response_0
Match: True
Column index: 1, Name: context_1_reward_5_response_1
Match: True
Column index: 2, Name: context_1_reward_25_response_0
Match: True
Column index: 3, Name: context_1_reward_25_response_1
Match: True
Column index: 4, Name: context_2_reward_5_response_0
Match: True
Column index: 5, Name: context_2_reward_5_response_1
Match: True
Column index: 6, Name: context_2_reward_25_response_0
Match: True
Column index: 7, Name: context_2_reward_25_response_1
Match: False

The `construct_regressors` method selects neurons (each represented by a row of the data) to include in analysis. The data of each cell is a list of firing rates for the given trial type.

In [44]:
# Note: Original code describes this method as balancing IA and IP sessions,
# but actual implementation seems to be done elsewhere.
example_regressors = F.construct_regressors(
    neu_data,
    sample_thr=15, # aka K
    select=[i for i in range(100)]
)
example_regressors.head()

,context_1_reward_5_response_0,context_1_reward_5_response_1,context_1_reward_25_response_0,context_1_reward_25_response_1,context_2_reward_5_response_0,context_2_reward_5_response_1,context_2_reward_25_response_0,context_2_reward_25_response_1
0,"[2, 0, 5, 1, 2, 0, 1, 3, 2, 1, 3, 3, 4, 0, 1, ...","[0, 3, 2, 4, 0, 0, 3, 2, 0, 3, 0, 1, 0, 2, 4, ...","[0, 4, 3, 0, 5, 0, 4, 0, 1, 3, 2, 0, 1, 1, 0, ...","[0, 1, 2, 1, 5, 2, 1, 1, 3, 2, 2, 0, 1, 0, 2, ...","[0, 0, 1, 1, 0, 2, 1, 3, 1, 0, 4, 0, 0, 0, 0, ...","[2, 0, 1, 3, 1, 2, 0, 4, 0, 0, 1, 2, 1, 3, 3, ...","[0, 1, 1, 2, 1, 3, 2, 2, 0, 2, 3, 0, 0, 0, 0, ...","[1, 7, 2, 3, 1, 1, 0, 1, 3, 0, 1, 2, 2, 3, 0, ..."
1,"[4, 3, 2, 2, 7, 0, 6, 0, 5, 4, 1, 4, 3, 4, 3, ...","[3, 3, 3, 1, 5, 4, 4, 3, 3, 0, 6, 2, 5, 4, 3, ...","[0, 3, 5, 3, 6, 2, 3, 1, 3, 0, 2, 0, 10, 3, 4,...","[3, 1, 3, 2, 2, 4, 3, 6, 3, 2, 1, 0, 4, 2, 1, ...","[0, 1, 3, 1, 4, 2, 2, 4, 0, 1, 6, 0, 3, 0, 2, ...","[1, 3, 4, 1, 5, 3, 1, 2, 2, 2, 3, 2, 0, 1, 1, ...","[2, 1, 3, 3, 4, 3, 1, 1, 2, 2, 1, 3, 0, 0, 1, ...","[6, 1, 5, 1, 2, 1, 0, 1, 4, 0, 3, 2, 2, 6, 3, ..."
2,"[0, 0, 0, 0, 0, 0, 3, 1, 1, 0, 0, 1, 1, 1, 0, ...","[0, 0, 2, 1, 1, 0, 2, 0, 0, 0, 2, 0, 0, 0, 1, ...","[1, 0, 0, 0, 2, 1, 2, 1, 0, 0, 0, 0, 0, 0, 1, ...","[0, 1, 0, 0, 2, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, ...","[1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 2, 0, 0, ...","[0, 1, 0, 3, 0, 0, 1, 1, 0, 1, 1, 0, 2, 0, 0, ...","[2, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 1, 0, 1, ...","[2, 1, 0, 1, 0, 0, 2, 0, 0, 1, 1, 3, 1, 0, 0, ..."
3,"[0, 0, 0, 0, 11, 11, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[0, 0, 0, 6, 4, 19, 0, 0, 1, 1, 0, 0, 1, 0, 0,...","[0, 4, 15, 5, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,...","[1, 0, 0, 6, 0, 4, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, ...","[4, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, ...","[1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, ..."
4,"[4, 12, 7, 4, 17, 5, 5, 4, 5, 8, 12, 5, 7, 2, ...","[6, 3, 7, 5, 19, 3, 9, 14, 10, 10, 4, 10, 4, 8...","[6, 12, 3, 4, 4, 6, 3, 6, 7, 10, 4, 4, 9, 11, ...","[5, 8, 6, 4, 2, 8, 4, 2, 13, 3, 4, 0, 4, 6, 3,...","[0, 7, 5, 6, 7, 10, 5, 6, 13, 7, 2, 5, 5, 5, 6...","[0, 5, 3, 3, 9, 6, 4, 6, 6, 6, 6, 4, 11, 3, 1,...","[0, 15, 9, 5, 6, 8, 13, 7, 9, 6, 6, 6, 3, 9, 7...","[9, 4, 14, 3, 4, 9, 1, 1, 8, 2, 17, 10, 4, 5, ..."

### Inference present vs. absent sessions

Inference present vs. absent sessions are computed using statistical significance of session-level inference behavior by the following steps:
1. `get_block_num`: Identify "blocks" in each session where contexts are switched.
2. `get_instance_num`: Within each block, assign instances to each type of stimulus. 
3. `get_session_accuracy`: Take the first instance of the stimulus in the new trial as an "inference trial," then compute participant accuracy. 
4. `test_inference_trials`: Classify each of 36 sessions as either inference present or absent, depending on whether accuracy is significnatly above chance (`p > 0.05`).

In [39]:
example_context = task_data["context"].iloc[0]
example_block_nums = F.get_block_num(example_context)
print(f"Contexts: {example_context}")
print(f"Block numbers: {example_block_nums}")

Contexts: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Block numbers: [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2.
 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2.
 2. 2. 2. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3.
 3. 3. 3. 3. 3. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4.
 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 5. 5. 5. 5. 5. 5. 5. 5. 5. 5. 5. 5. 5.
 5. 5. 5. 5. 5. 5. 5. 5. 5. 5. 5. 5. 5. 5. 5. 5. 5. 5. 5. 5. 5. 5. 5. 5.
 5. 5. 5. 5. 5. 5. 5. 5. 5. 5. 5. 6. 6. 6. 6. 6. 6. 6. 6. 6. 6. 6. 6. 6.
 6. 6. 6. 6. 6. 6. 6. 6. 6. 6. 6. 6. 6. 6. 6. 6. 6. 6. 6. 6. 6. 6. 6. 6.
 6. 7. 7. 7. 7. 7. 7. 7. 7. 7. 7. 7. 7. 7. 7. 7. 7. 7. 7. 7. 7. 7. 7. 7.
 7. 7. 7. 7. 7. 7. 7. 7. 8. 8. 8. 8. 8. 8. 8. 8. 8. 8. 8. 8. 8. 8. 8. 8.
 8. 8. 8. 8. 8. 8. 8. 8. 8. 9. 9. 9. 9. 9. 9. 9. 9. 9. 9. 9. 9. 9. 9. 9.
 9. 9. 9. 9. 9. 9. 9. 9.]

In [42]:
example_stim = task_data["stim_sequence"].iloc[0]
example_instance_nums = F.get_instance_num(example_stim, example_block_nums)
print(f"Stimulus sequence: {example_stim}")
print(f"Within-block instances: {example_instance_nums}")

Stimulus sequence: [2, 4, 1, 2, 4, 4, 4, 3, 1, 4, 4, 3, 4, 3, 2, 3, 1, 3, 1, 2, 1, 1, 4, 3, 2, 4, 1, 2, 2, 4, 4, 1, 2, 2, 3, 3, 4, 2, 3, 3, 1, 1, 2, 4, 2, 3, 1, 4, 2, 3, 3, 4, 4, 3, 1, 1, 2, 4, 2, 4, 1, 4, 2, 1, 2, 3, 2, 2, 4, 3, 3, 4, 2, 4, 4, 2, 3, 1, 1, 3, 4, 4, 1, 3, 2, 1, 2, 1, 4, 2, 3, 1, 3, 2, 3, 3, 3, 2, 1, 1, 4, 1, 4, 3, 4, 1, 2, 1, 4, 1, 4, 4, 4, 1, 2, 2, 4, 2, 4, 1, 2, 1, 1, 4, 3, 3, 1, 4, 3, 2, 3, 2, 1, 1, 1, 1, 1, 2, 1, 4, 4, 2, 2, 2, 4, 2, 1, 4, 2, 1, 2, 1, 1, 4, 4, 3, 1, 1, 2, 4, 1, 1, 1, 3, 3, 3, 2, 3, 2, 3, 1, 3, 1, 2, 3, 4, 1, 4, 4, 2, 2, 2, 2, 3, 3, 4, 4, 3, 2, 4, 3, 2, 4, 4, 3, 3, 3, 1, 2, 2, 1, 4, 1, 1, 1, 1, 2, 2, 4, 2, 1, 4, 4, 2, 1, 2, 2, 3, 2, 3, 3, 1, 1, 2, 2, 2, 3, 1, 2, 4, 1, 4, 3, 2, 3, 1, 2, 4, 3, 3, 1, 2, 3, 3, 2, 2, 4, 1, 4, 4, 4, 1, 2, 2, 3, 1, 3, 1, 3, 2, 4, 3, 4, 4, 2, 3, 1, 1, 3, 3, 2, 4, 3, 3, 4, 4, 3, 1, 1, 4, 1, 2, 1, 4, 3, 3, 2, 1, 3, 1, 1, 3, 1, 4, 4, 3, 1, 3, 3, 4, 3, 4, 2, 2, 4, 1, 1, 1, 2, 4, 4, 1, 2, 3, 2, 3, 3, 2, 2, 1]
Within-block instances: [ 1.  1.  1.  2.  2.  3.  4.  1.  2.  5.  6.  2.  7.  3.  3.  4.  3.  5.
  4.  4.  5.  6.  8.  6.  5.  9.  7.  6.  1.  1.  2.  1.  2.  3.  1.  2.
  3.  4.  3.  4.  2.  3.  5.  4.  6.  5.  4.  5.  7.  6.  7.  6.  7.  1.
  1.  2.  1.  1.  2.  2.  3.  3.  3.  4.  4.  2.  5.  6.  4.  3.  4.  5.
  7.  6.  7.  8.  5.  5.  6.  6.  8.  9.  7.  7.  9.  8. 10.  9. 10. 11.
  8. 10.  9. 12. 10. 11. 12. 13. 11.  1.  1.  2.  2.  1.  3.  3.  1.  4.
  4.  5.  5.  6.  7.  6.  2.  3.  8.  4.  9.  7.  5.  8.  9. 10.  2.  1.
  1.  1.  2.  1.  3.  2.  2.  3.  4.  5.  6.  3.  7.  2.  3.  4.  5.  6.
  4.  7.  8.  5.  8.  9.  9. 10. 11.  6.  7.  1.  1.  2.  1.  1.  3.  4.
  5.  2.  3.  4.  2.  5.  3.  6.  6.  7.  7.  4.  8.  2.  8.  3.  4.  5.
  6.  7.  8.  9. 10.  5.  6. 11.  9.  7. 12. 10.  8.  9. 13. 14. 15.  9.
 11. 12. 10. 10. 11.  1.  2.  3.  1.  2.  1.  3.  4.  2.  3.  4.  5.  5.
  6.  1.  7.  2.  3.  6.  7.  8.  9. 10.  4.  8. 11.  4.  9.  5.  5. 12.
  6. 10. 13.  6.  7.  8. 11.  1.  1.  2.  2.  3.  1.  1.  2.  3.  4.  2.
  4.  5.  3.  3.  4.  4.  5.  6.  5.  6.  6.  7.  7.  7.  5.  6.  8.  9.
  8.  8.  1.  2.  1.  2.  3.  1.  2.  3.  3.  1.  4.  4.  4.  5.  2.  5.
  6.  6.  7.  7.  8.  5.  6.  8.  9.  1.  2.  1.  3.  2.  1.  2.  3.  1.
  2.  3.  3.  4.  5.  4.  4.  4.  5.  5.  6.  6.  7.  5.]

In [ ]:
F.test_inference_trials()

## Geometric analyses

### Shattering dimensionality

### General pipeline

1. Divide neural data into inference present vs. absent groupings.
2. For each brain area, find the intersection of indices with each inference type, then compute the geometric analyses separately.

In [ ]:
def sd_task():
    return F.run_geometric_analysis(
        metric="sd",
        neu_data=neu_data,
        beh_data=beh_data,
        task_data=task_data,
        show_progress=True
    )

def ccgp_task():
    return F.run_geometric_analysis(
        metric="ccgp",
        neu_data=neu_data,
        beh_data=beh_data,
        task_data=task_data,
        n_iter_boot=100,
        show_progress=True
    )

def ps_task():
    return F.run_geometric_analysis(
        metric="ps",
        neu_data=neu_data,
        beh_data=beh_data,
        task_data=task_data,
        n_iter_boot=100,
        show_progress=True
    )

with concurrent.futures.ThreadPoolExecutor() as executor:

In [ ]:
# Define two example functions
def task1():
    time.sleep(2)  # Simulate a task taking time
    return "Task 1 completed"

def task2():
    time.sleep(3)  # Simulate a task taking time
    return "Task 2 completed"

# Use ThreadPoolExecutor to run both tasks concurrently
with concurrent.futures.ThreadPoolExecutor() as executor:
    # Submit both functions to the executor
    futures = [executor.submit(task1), executor.submit(task2)]

    # Wait for all tasks to complete and collect the results
    results = [future.result() for future in concurrent.futures.as_completed(futures)]

In [16]:
# TO DO
# Check split_sessions method into inference absent vs. inference present sessions
# Check that this works
# Geometric analyses also splits into inference present and absent trials